<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Event</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script>
      window.eventillConfig = {
        hostURL: '<%= ENV.fetch('FRONTEND_URL', '') %>',
      }
    </script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="h-full">
    <%= yield %>
  </body>
</html>
